html {
  font: 16px sans-serif;
}
body {
  margin: 1rem;
}

.todoList {
  margin: 0 auto;
  max-width: 40rem;
  table-layout: fixed;
}
.todoTable {
  width: 100%;
  border-collapse: collapse;
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  td {
    padding: 0.5rem 0;
  }
}
.cell-button {
  text-align: center;
  width: 3rem;
}
button {
  padding: 0.5rem;
  cursor: pointer;
}
input[type="checkbox"] {
  cursor: pointer;
}
.task-name-textbox {
  width: 100%;
  display: inline-block;
  font: inherit;
  border: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5rem 0;
  background: none;
}
span.task-text {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  padding: 0.2rem;
}